$food-menu-red  : #935347;
$food-menu-light: #ede9ce;
$food-menu-text:  #1F1F1F;

.food-menus-box {
  margin: 10px;
  color: $food-menu-text;
  font-family: 'Roboto', sans-serif;
  background-color: $food-menu-light;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
  position: relative;

  .food-menus-header {
    width: 100%;
    margin: 0;
    font-size: 50px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(10px);
    text-transform: uppercase;
    font-weight: 400;
  }
}

.food-menu {
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  width: calc(100% + 20px);
  box-sizing: border-box;
  background-color: white;
  color: $food-menu-text;
  border-left: 10px solid $food-menu-red;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
  margin-left: -10px;
  border-radius: 5px;


  .title {
    margin: 0;
    text-transform: capitalize;
  }
  ul {
    padding: 5px;
    margin: 0;
    li {
      list-style-type: none;
    }
  }
}
