.redis-alert-box {
  margin: 10px;
  padding: 10px;
  border: 5px solid #FF956D;
  min-height: 60px;
  max-width: 50%;
  font-size: 50px;
  color: #1F1F1F;
  font-family: 'Roboto', sans-serif;
  background: url('../images/fire_icon.png') #FF7E23 no-repeat;
  background-position: 101% -30px;
}

.redis-alert-box-content-header {
  font-size: 60px;
}
