@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: -moz-linear-gradient(-45deg,  rgba(0,0,0,0.04) 0%, rgba(0,0,0,0.31) 100%);
  background: -webkit-linear-gradient(-45deg,  rgba(0,0,0,0.04) 0%,rgba(0,0,0,0.31) 100%);
  background: linear-gradient(135deg,  rgba(0,0,0,0.04) 0%,rgba(0,0,0,0.31) 100%);
}

.screen-component {
  @import 'components/all';
}
